
<form>
  <div class="form-group">
    <label for="Projecttitle">Project title</label>
    <input type="text" class="form-control" id="Projecttitle" aria-describedby="title" placeholder="Title">
    <small id="title" class="form-text text-muted">Based on the field of project</small>
  </div>
  <div class="form-group">
    <label for="ProjectDescription">Description</label>
    <textarea class="form-control" id="ProjectDescription" rows="2"></textarea>
    <small id="description" class="form-text text-muted">Project Description</small>
  </div>
</form>
<h4>Upload your files!</h4>
<div>
  <div *ngIf="error">
    {{ error }}
  </div>
  <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">
    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>

  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="file" name="avatar" (change)="onFileChange($event)" />
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
<button type="submit"  class="btn btn-info btn-lg">Submit</button>
